<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td> 
          <ol>
            <% order.order_items.each do |order_item| %>
              <li><%= order_item.item.name %> Quantity: <%= order_item.quantity %></li>
            <% end %>
          </ol>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
